.detailedCard {
  color: white;
  /* border: solid; */
  border-left:4px solid white;
  border-right:4px solid white;
  border-top:2px solid white;
  border-bottom:2px solid white;
  width: 50%;
  padding-left: 2%;
  padding-bottom:.5%;
  margin-top:.5%;
  margin-bottom:.5%;
  
  
}
.title{
  border:solid;
  /* padding-left: 50px; */
  display: flex;
  justify-content: center;
  width:17%;
}
.info{
  display: flex;
  /* border: dashed; */
  
  align-items: center;
  width:100%;

}
.image{
/* border: 2px solid yellow; */
padding-right: 5%;
/* padding-left:2%; */
}
