.cardContainer {
    display: flex;
    flex-direction: column;
    padding: 130px;
    color: white;
    align-items: center;

}

.link{
    color: white;
}
.category{
    width: 200%;
    padding-bottom: 5px;
    padding-right:50%;    
    
}

.category:hover{
    color: goldenrod;
}

