.cardContainer {
    display: flex;
    flex-direction: column;
    border: 2px solid black;
    padding: 25px;
    width: 10%;
    height: 500px;
    margin: 0 10px;
}

/* https://css-tricks.com/snippets/css/a-guide-to-flexbox/ */