.Container{
    display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
   color: white;
}
.logo{

    height: 5%;
    width: 20%;
    margin-top: 2%;
    margin-bottom: 2%;
    /* margin-left: 35%; */
}

.intro{
    /* border: 2px solid white; */
    font-size: 400%;
    /* width:100%; */
    /* padding: 30px; */
}